<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-3  col-md-3 text-center">
			<div id="breakfast" class="choices">
				<div class="spin">	
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 text-center">
			<div id="lunch" class="choices">
				<div class="spin"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 text-center">
			<div id="dinner" class="choices">
				<div class="spin"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 text-center">
		<div id="dessert" class="choices">
			<div class="spin"></div>
		</div>
	</div>
</div>
