<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-3 text-center breakfast-bg">
			<img class="circle-cartoon-img" src="../images/coffee.jpg">
			<div id="breakfast" class="choices">
				<div class="spin"></div>
			</div>
			<button class="btn btn-default breakfast-btn btn-lg">New choice?</button>
		</div>
		<div class="col-xs-12 col-md-3 text-center lunch-bg">
			<img class="circle-cartoon-img" src="../images/pizza1.jpg">
				<div id="lunch" class="choices">
					<div class="spin"></div>
				</div>
				<button class="btn btn-default lunch-btn btn-lg">New choice?</button>
		</div>
		<div class="col-xs-12 col-md-3 text-center dinner-bg">
			<img class="circle-cartoon-img" src="../images/steakfrites1017.jpg">
				<div id="dinner" class="choices">
					<div class="spin"></div>
				</div>
				<button class="btn btn-default dinner-btn btn-lg">New choice?</button>
		</div>
		<div class="col-xs-12 col-md-3 text-center dessert-bg">
			<img class="circle-cartoon-img" src="../images/pinkcupcake.jpg">
				<div id="dessert" class="choices">
					<div class="spin"></div>
				</div>
				<button class="btn btn-default dessert-btn btn-lg">New choice?</button>
		</div>
	</div>
</div>
