.mt-3 { margin-top: 3em; }
.mb-3 { margin-bottom: 3em; }
/********** NAV ***********/
.navbar-brand-centered {
	position: absolute;
	left: 50%;
	display: block;
	width: 160px;
	text-align: center;
}

.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
	margin-left: -80px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	background-color: white;
	border-color: white;
	height: 80px;
}

/********** INTRO ***********/
.mobile.jumbotron {
	border-radius: 0px !important;
	/*width: 350px;*/
	height: 400px;
}

.intro {
	position: relative;
	bottom: -14em;
	font-family: 'Raleway', sans-serif;
}

.overlap {
	position: relative;
}

.overlap img {
	position: relative;
	z-index: 3;
}

.overlap img:nth-child(1) {
	position: absolute;
	top: 0;
	left: -50px;
	z-index: 1;
	width: 47%;
}

.overlap img:nth-child(2) {
	position: absolute;
	top: 87px;
	left: 65px;
	z-index: 2;
	width: 60%;
}
.overlap img:nth-child(3) {
	position: absolute;
	top: 0;
	right: -25px;
	z-index: 3;
	width: 70%;
}

@media (min-width: 768px) {
	.mobile.jumbotron {
		width: 600px;
	}

	.overlap img:nth-child(1) {
		top: 0;
		left: -115px;
		width: 40%;
	}

	.overlap img:nth-child(2) {
		top: 70px;
		left: 50px;
		width: 50%;
	}

	.overlap img:nth-child(3) {
		top: 0;
		right: -125px;
		width: 55%;
	}
}

@media (min-width: 998px) {
	.jumbotron {
		height: 350px;
		border-radius: 0px;
	}

	.overlap img:nth-child(1) {
		top: 17px;
		left: -200px;
		width: 40%;
	}

	.overlap img:nth-child(2) {
		top: 135px;
		left: -122px;
		width: 40%;
	}

	.overlap img:nth-child(3) {
		top: 0;
		right: -180px;
		width: 55%;
	}

	.intro {
		bottom: -9em;
	}
}

@media (min-width: 1200px) {
	.mobile.jumbotron {
		height: 300px;
		border-radius: 0px;
	}

	.overlap img:nth-child(1) {
		top: -35px;
		left: -200px;
		width: 40%;
	}

	.overlap img:nth-child(2) {
		top: 89px;
		left: -122px;
		width: 40%;
	}

	.overlap img:nth-child(3) {
		top: 0;
		right: -180px;
		width: 55%;
	}

	.intro {
		bottom: -7em;
	}
}

@media (min-width: 1350px) {
	.mobile.jumbotron {
		height: 300px;
		border-radius: 0px;
	}

	.overlap img:nth-child(1) {
		top: -35px;
		left: -300px;
		width: 40%;
	}

	.overlap img:nth-child(2) {
		top: 89px;
		left: -160px;
		width: 40%;
	}

	.overlap img:nth-child(3) {
		top: 0;
		right: -280px;
		width: 55%;
	}

	.intro {
		bottom: -2em;
	}
}
/********** FOOD CHOICES PANELS ***********/
.business-name {
	font-family: 'Raleway', sans-serif;
}
.panel-default>.panel-heading {
	color: white;
	background-color: #2c3e50;
	border-color: #ddd;
	text-align: center;
	height: 60px;
	border-bottom: none;
}

.panel {
	margin-bottom: 0px;
	border: none;
	box-shadow: none;
}

.panel.panel-default.col-sm-6.dinner-bg {
	clear: both;
}

@media (min-width: 968px) {
	.panel.panel-default.col-sm-6.dinner-bg {
		clear: none;
	}
}

/********** FOOTER ***********/
footer.container-fluid {
	background-color: #e8581e;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	font-family: 'Raleway', sans-serif;
}

footer h5 {
	color: white;
	padding: 1em 0em 1em 0em;
}

footer a {
	color: black;
	font-weight: 700;
}

footer p {
	color: black;
	font-weight: 700;
	font-size: 12px;
}

footer img {
	width: 15%;
	margin-top: -11px;
}









.meal-title{
	margin: 0;
	color: #545F69;
}

.spin{
	text-align: middle;
	position: relative;
	max-height: 50%;
}

.yelp-img{
	height: 100%;
	width: 100%;
	max-height: 200px;
}

.yelp-img-cont{
	overflow: hidden;
	margin: 0 auto;
}

.cta-button {
	background-color: #e8581e;
	border: 1.5px white solid;
	color: white;
}

.cta-button:hover{
	background-color: #333333;
	color: white;
}

.cta-button:visited{
	background-color: black;
	color: white;
}

.breakfast-btn, .lunch-btn, .dinner-btn, .dessert-btn{
	width: 12em;
	background-color: #333333;
	color: white;
	margin-top: 2em;
	margin-bottom: 2em;
}

.breakfast-btn:hover, .lunch-btn:hover, .dinner-btn:hover, .dessert-btn:hover{
	background-color: #666666;
	color: white;
}

.cinch_span{
	font-family: 'Suez One', serif;
}

.rating-stars-img{
	width: 120px;
}

